
/**
body{
    background: aqua;
}



.title {
    color: red;
}

**/

/** class selector **/


/**

.subtitle {
    color: rgb(255, 0, 200);
}

**/

/** id selectors **/


#contact-us {
    color: rgb(201, 99, 99);
}                                           




/** specificity when use ia and class **/

h2:hover{
    color:green;
}

/** 

.about-me {
          color: blue; 
}

**/

.contact-us{
    color: tomato;
}


.subtitle{
    color: blue; 
}

#services {
    color: blueviolet;
}

/** ul not working color wont  in pseudo selectors **/
ul:first-child{
    color: steelblue;
}

/** 0nly li change color 

li:first-child{
    color: violet;
}

**/


li:last-child{
    color: violet;
}
